body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  display: flex;
  background-color: lightgray;
  justify-content: space-between;
  border-radius: 20px;
  align-items: center;
  padding: 20px;
}

.logo-container {
  padding: 10px;
}

.logo {
  height: 100px;
  width: 100px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.nav-items > ul {
  font-size: large;
  display: flex;
  list-style-type: none;
}

.restaurant-card {
  width: 10%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  border: 1px solid lightgray;
}

.restaurant-card:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.restaurant-image {
  height: 100px;
  width: 100%;
}

.restaurant-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-btn {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

.filter-btn:hover {
  cursor: pointer;
}

.shimmer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 10%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  height: 300px;
}

.signin {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: none;
}

.signin:hover {
  cursor: pointer;
  background-color: greenyellow;
}

.filter {
  display: flex;
}
